# Ignore build artifacts
/build
*.o
*.out

# Ignore temporary files
*.tmp
*.log
*.swp
*.swo
*.bak
*.d

# Ignore compiled dynamic libraries
*.so
*.dylib
*.dll

# Ignore executables
main

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.code-workspace

# Ignore backup files
*~